<h1>Welcome One and All to the Magical Creatures Website!</h1>
<p>This is your portal for information about four-legged, multi-headed, crawling,
  flying, shapeshifting beings from every possible dimension. From Basilisks to
  Unicorns, Griffins to Vampires; we've got the scoop on all your favorite
  magical creatures.</p>

<img src="https://vignette.wikia.nocookie.net/godofwar/images/a/a3/Chim%C3%A8re_GOW_III.jpg/revision/latest?cb=20101202202940"
  alt="chimera" height="600" width="700">
